/* Ionic Variables and Theming
 * ---------------------------------------------------------------
 * Any overrides to theme variables should be placed in this file.
 * For more information, please see:
 * http://ionicframework.com/docs/theming/
 */

/**
  Add here in :root your custom color theme that you can generate with Ionics Color Generator.
  https://ionicframework.com/docs/theming/color-generator
 */
 :root {
  --bk-h1-size: 80px;
  --bk-h2-size: 60px;
  --bk-h3-size: 40px;
  --bk-font-size: 24px;
  --bk-logo-width: 25%;
  --bk-form-margin: auto;
  --bk-form-background: white;
  --bk-form-box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  --bk-form-max-width: 600px;
  --bk-form-width: 320px;
  --bk-form-max-height: 600px;
  --bk-form-border-radius: 10px;
  --bk-form-field-background: white;
  --bk-form-field-padding: 0;
  --bk-form-button-padding: 0.5em;
  --bk-banner-background: #6d89b9;
  --bk-row-selection-color: lightblue;
  --bk-test-color: #ccffff;
  --bk-archived-color: #ffcc99;
  --bk-fab-background: #014da2;

  // FontAwesome colouring
  --fa-primary-color: #014da2;
  --fa-secondary-color: #009d53;

  --ion-color-secondary: #5ca56c;
	--ion-color-secondary-rgb: 92,165,108;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #51915f;
	--ion-color-secondary-tint: #6cae7b;
    
  @media (max-width: 1580px) {
    --bk-h1-size: 48px;
    --bk-h2-size: 36px;
    --bk-h3-size: 24px;
    --bk-font-size: 18px;
    --bk-logo-width: 33%;
  }
  @media (max-width: 980px) {
    --bk-h1-size: 36px;
    --bk-h2-size: 24px;
    --bk-h3-size: 18px;
    --bk-font-size: 14px;
    --bk-logo-width: 50%;
  }
  @media (max-width: 480px) {
    --bk-h1-size: 24px;
    --bk-h2-size: 18px;
    --bk-h3-size: 14px;
    --bk-font-size: 12px;
    --bk-logo-width: 80%;
  }
}
