[submodule "apps/scs-app"]
	path = apps/scs-app
	url = git@github.com:bkaiser-org/scs-app.git
[submodule "apps/scs-website"]
	path = apps/scs-website
	url = git@github.com:bkaiser-org/scs-website.git
[submodule "apps/p13-website"]
	path = apps/p13-website
	url = git@github.com:bkaiser-org/p13-website.git
[submodule "apps/kring-website"]
	path = apps/kring-website
	url = git@github.com:bkaiser-org/kring-website.git
[submodule "apps/okr-website"]
	path = apps/okr-website
	url = git@github.com:bkaiser-org/okr-website.git
[submodule "planning"]
	path = planning
	url = git@github.com:bkaiser-org/okr-planning.git
[submodule ".claude/skills"]
	path = .claude/skills
	url = git@github.com:bkaiser-org/okr-skills.git
[submodule "apps/p13-app"]
	path = apps/p13-app
	url = git@github.com:bkaiser-org/p13-app.git
[submodule "apps/kring-app"]
	path = apps/kring-app
	url = git@github.com:bkaiser-org/kring-app.git
[submodule "apps/bkg-app"]
	path = apps/bkg-app
	url = git@github.com:bkaiser-org/bkg-app.git
[submodule "apps/okr-app"]
	path = apps/okr-app
	url = git@github.com:bkaiser-org/okr-app.git
[submodule "apps/bkg-website"]
	path = apps/bkg-website
	url = git@github.com:bkaiser-org/bkg-website.git
[submodule "apps/elab-app"]
	path = apps/elab-app
	url = git@github.com:bkaiser-org/elab-app.git
[submodule "apps/elab-website"]
	path = apps/elab-website
	url = git@github.com:bkaiser-org/elab-website.git
