# See http://help.github.com/ignore-files/ for more about ignoring files.

# sensitive production keys
**/environment.ts
**/environment.prod.ts
**/.env
emulator-storage
**/firebase.config.ts
environment.global.ts
**/bk-config.ts
**/schema.json

# compiled output
dist
tmp
/out-tsc
**/data

# dependencies
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/typings
.firebase

# log files
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
ui-debug.log
pubsub-debug.log
firestore-debug.log

# System Files
.DS_Store
Thumbs.db

**/nx.json
.nx/cache
.nx/workspace-data

.angular
# Nx-Firebase
.runtimeconfig.json
**/.emulators/*
**/.firebase/*
database-debug.log
firebase-debug.log
firebase-export*
.secret.local

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
