use-node-version=23.8.0  # Node.js version
package-manager=pnpm # telling cloud build to use pnpm
store-dir=/workspace/.pnpm-store # where to store pnpm packages
shared-workspace-lockfile=false # do not share lockfile across builds