rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /app-config/{tenant} {
      allow read: if true;
    }
    match /app-version/app-version {
      allow read: if true;
    }
    match /categories/{category} {
      allow get: if true;
      allow list: if true;
    }

    match /menuItems/{menuItem} {
      allow get: if true;
      allow list: if true;
    }
    match /pages/{page} {
      allow get: if true;
      allow list: if true;
    }
    match /sections/{section} {
      allow get: if true;
      allow list: if true;
    }
    match /users/{userId} {
      allow read: if (request.auth != null) && (request.auth.uid == userId);
    }
    match /tags/{tagid} {
      allow get: if true;
      allow list: if true;
    }
    match /orgs/{orgid} {
      allow get: if true;
      allow list: if true;
    }
    match /persons/{pid} {
      allow get: if true;
      allow list: if true;
    }
    match /resources/{uid} {
      allow get: if true;
      allow list: if true;
    }
  	match /{document=**} {
    	allow read, write: if request.auth != null;
  	}
  }
}